body {
    


}

#principal {
    width: 100vw;
    height: 100vh;
    background:#6C7A89;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -5px;
    
    
}

.caixas {
    text-align: center;
    width: 300px;
    height: 420px;
    background: #fff;
    border: black 5px solid;
}

#clear {
    clear: both;
}

#legenda {
    font-weight: bold;
}
